<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="base::header"></div>
    <title>About</title>

</head>

<body>
<div th:replace="base::nav"></div>
<div class="container-float" align="center">
    <div class="jumbotron lead">
        <h2 align="center">About Us </h2>
        <p>I develop highly professional web applications, which suits most to your business logic.
            This is just a sample of a Book Authors website based on Many to Many relationship  through
            Java Persistent Api and SpringBoots framework.</p>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <img alt="Muhammad Shah" class="profile-picture"
                 src="https://res.cloudinary.com/mhussainshah1/image/upload/c_fill,g_face,h_350,r_50,w_350/v1550870732/blog/shah.jpg"
                 title="Muhammad Shah">
        </div>
        <div class="col-sm-6">
            <h2>Muhammad A. Shah</h2>
            <br>
            <p>Oracle Certified Associate Java SE 8 programmer</p>
            <img alt="facebook" class="icon"
                 src="https://res.cloudinary.com/mhussainshah1/image/upload/c_fill,g_face,h_42,r_50,w_42/v1550870732/blog/facebook.png"><a
                href="https://www.facebook.com/mhussainshah1">https://www.facebook.com/amirhshah20</a>
            <br>
            <img alt="linkedin" class="icon"
                 src="https://res.cloudinary.com/mhussainshah1/image/upload/c_fill,g_face,h_42,r_50,w_42/v1550870732/blog/linkedin.png"><a
                href="https://www.linkedin.com/in/mhussainshah1">https://www.linkedin.com/mhussainshah1</a>
            <br>
            <img alt="github" class="icon"
                 src="https://res.cloudinary.com/mhussainshah1/image/upload/c_fill,g_face,h_42,r_50,w_42/v1550870732/blog/github.png"><a
                href="https://github.com/mhussainshah1">https://https://github.com/mhussainshah1</a>
            <br>
            <img alt="twitter" class="icon"
                 src="https://res.cloudinary.com/mhussainshah1/image/upload/c_fill,g_face,h_42,r_50,w_42/v1550870732/blog/twitter.png"><a
                href="https://www.twitter.com/amir__shah">@Amir__Shah</a>
        </div>
    </div>
</div>
<div th:replace="base::footer"></div>
</body>
</html>