<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="base::header"></div>
    <title>Author Form</title>

</head>

<body>
<div th:replace="base::nav"></div>

<div align="center" class="container">
    <div class="jumbotron">
        <h2 align="center">Author Form</h2>
    </div>

    <form action="#" method="post" th:action="@{/processauthor}" th:object="${author}">
        <input th:field="*{id}" type="hidden"/>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="title">Name :</label>
            <div class="col-sm-10">
                <input class="form-control"
                       id="title"
                       placeholder="Author's Name"
                       th:field="*{name}"
                       type="text">
            </div>
            <span th:errors="*{name}" th:if="${#fields.hasErrors('name')}"></span><br/>
            <span th:text="${message}"></span>
        </div>

        <button class="btn btn-primary" type="submit">Submit</button>

    </form>
</div>
<div th:replace="base::footer"></div>
</body>
</html>