<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="base::header"></div>
    <title>Book Form</title>

</head>

<body>
<div th:replace="base::nav"></div>
<div align="center" class="container">
    <div class="jumbotron">
        <h2>Book Form</h2>
    </div>
    <form action="#" method="post" th:action="@{/process}" th:object="${book}">
        <input th:field="*{id}" type="hidden"/>
        <table>
            <tr>
                <td><label for="author">Author:</label></td>
                <td>
                    <select class="form-control input-md"
                            id="author" multiple
                            th:field="*{authors}">
                        <option th:each="option: ${authors}"
                                th:value="${option.id}">[[${option.name}]]
                        </option>
                    </select>
                </td>
                <td><span th:errors="*{authors}" th:if="${#fields.hasErrors('authors')}"></span></td>
            </tr>
            <tr>
                <td><label for="sku">SKU:</label></td>
                <td><input class="form-control input-md"
                           id="sku" name="sku"
                           th:field="*{SKU}"
                           type="text"/></td>
                <td><span th:errors="*{SKU}" th:if="${#fields.hasErrors('SKU')}"></span></td>
            </tr>
            <tr>
                <td><label for="title">Title:</label></td>
                <td><input class="form-control input-md"
                           id="title" name="title"
                           th:field="*{title}"
                           type="text"/></td>
                <td><span th:errors="*{title}" th:if="${#fields.hasErrors('title')}"></span></td>
            </tr>
            <tr>
                <td><label for="description"> Description:</label></td>
                <td><textarea class="form-control input-md"
                              cols="20" id="description"
                              name="description"
                              rows="4"
                              th:field="*{description}"></textarea></td>
                <td><span th:errors="*{description}" th:if="${#fields.hasErrors('description')}"></span></td>
            </tr>
            <tr>
                <td><label for="price"> Price:</label></td>
                <td><input class="form-control input-md"
                           id="price"
                           name="price"
                           th:field="*{price}" type="number"/></td>
                <td><span th:errors="*{price}" th:if="${#fields.hasErrors('price')}"></span></td>
            </tr>
            <tr>
                <td><label for="stock"> In Stock:</label></td>
                <td><input align="left"
                           class="form-control"
                           id="stock"
                           name="stock"
                           th:field="*{inStock}" type="checkbox"/></td>
                <td><span th:errors="*{inStock}" th:if="${#fields.hasErrors('inStock')}"></span></td>
            </tr>
        </table>
        <input type="submit" value="Submit"/>
    </form>
</div>
<div th:replace="base::footer"></div>
</body>
</html>